/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* ==== google Fonts == */
@import url('../../../../fonts.googleapis.com/earlyaccess/notosanskr.css');			/* font-family: 'Noto Sans KR', sans-serif; */
@import url('../../../../fonts.googleapis.com/earlyaccess/nanumgothic.css');			/* font-family:'Nanum Gothic', sans-serif */

/* ==== NAVER Fonts ==== */
@font-face {
    font-family: 'NanumBarun';
    src: url('../fonts/NanumBarunGothicLight.eot');
    src: url('../fonts/NanumBarunGothicLightd41d.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NanumBarunGothicLight.html') format('woff2'),
        url('../fonts/NanumBarunGothicLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'NanumBarun';
    src: url('../fonts/NanumBarunGothic.eot');
    src: url('../fonts/NanumBarunGothicd41d.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NanumBarunGothic.html') format('woff2'),
        url('../fonts/NanumBarunGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'YGO 520';
    src: url('../fonts/YGO520.eot');
    src: url('../fonts/YGO520d41d.eot?#iefix') format('embedded-opentype'),
        url('../fonts/YGO520.html') format('woff2'),
        url('../fonts/YGO520.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'YGO 540';
    src: url('../fonts/YGO540.eot');
    src: url('../fonts/YGO540d41d.eot?#iefix') format('embedded-opentype'),
        url('../fonts/YGO540.html') format('woff2'),
        url('../fonts/YGO540.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
}

/* float clearfix */
.clearfix{*zoom:1}
.clearfix:after{content:"";display:block;clear:both}

/* Phark Method */
.ir{
	display:block;
	text-indent:-9000px;
	overflow:hidden
}
